<section class="about">
  <h2>About Adam</h2>
  <div class="about-image-wrapper">
    <img src="images/adam3.JPG" alt="About Me" class="about-image">
  </div>
  <p>
    I got into programming sometime after marrying into a family of programmers. I found school that best fit my needs and enrolled web programming and development course at Mountainland Technical College. I just completed my one year course and am looking for externship opportunties to offically complete my 240 hours of externship and receive my degree.
  </p>
  <p>
    In this programming course, I have learned a variety of programming languages and technologies, including HTML, CSS, JavaScript, Angular, TypeScript, SQL, and more. I have also gained experience working on real-world projects and collaborating with other students and instructors. You may look at some of my projects in Project section or GitHub repositories.
  </p>
  <p>
    I really enjoy building and programming websites, sometimes I make some games and other projects. I take pride in my works and always try to make them better for the users. I eagerly look for learning opportunities from both my peers and our artificial intelligence tools.
  </p>
  <p>
    Little about me, I have a wife and no children yet. I enjoy playing video games, read comic books, collecting different collectables, and playing guitar. I also enjoy going to concerts and listening to music. I am a big fan of rock and metal music and rock n roll in general. 
  </p>
</section>
