<div class="content">
  <div class="profile-wrapper">
    <img src="images/adam2.JPG" alt="adam" class="profile-image">
  </div>
  <div class="intro">
    <h1>Adam Gainus</h1>
    <p>I am a novice web programmer, eager to learn and grow in the field of web development. I recently graduated from Mountainland Technical College in Web Programming and Development. I am currently looking for externship or internship opportunities to gain practical experience and further develop my skills.</p>
  </div>
</div>
